.App {
  background: linear-gradient(-20deg, #8600b3 50%, #cc33ff 50%);
  height: 100vh;
  width: 100vw;
}

.search-bar-form {
  color: black;
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

h1 {
  text-align: center;
  color: rgb(250, 250, 250);
}